/* Nav Bar */

.navbar {
  width: 70%;
  
}

#switch-light {
  width: 20px;
  height: 20px;
}

.social-icons {
  height: 50px;
  width: 50px;
  padding-left: 5px;
}

body {
  overflow-y: scroll;
}

#name-span {
  font-family: 'Roboto Slab', serif;
}

.welcome-page {
    height: 100%;
    background-color: aquamarine;
}

.work-container {
    height: 100%;
    background-color: burlywood;
    width: 100%;
}

.contact-me-container {
    height: 100%;
    background-color:cornsilk;
    width: 100%;
}

.resume-container {
  height: 100%;
  background-color:cornsilk;
  width: 100%;
}

.about-me, .hello-world { 
  font-size: 3.5rem;
}

.info-about-me {
  font-size: 1.5rem;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 900px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color: cornsilk;
      
    }
  }


  @media screen and (max-width: 768px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color:ghostwhite;
      
    }
  }

  @media screen and (max-width: 640px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color: blanchedalmond;
      
    }
  }



  /* Cards */

  .card {
    width: 20%;
    height: 450px;
  }

.contact-content-card {
  width: 500px;
}

