/* Nav Bar */

.navbar {
  width: 70%;
  box-shadow: 20ps 20ox 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
}

#switch-light {
  width: 20px;
  height: 20px;
}

.social-icons {
  height: 50px;
  width: 50px;
  padding-left: 5px;
}



.welcome-page {
  content: '';
  
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(#f00,#f0f);
  clip-path: circle(10% at right 30% 10%);
  
}

/* .welcome-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3,#e91e63);
  clip-path: circle(25% at 30% 10%);
} */


#name-span {
  font-family: 'Roboto Slab', serif;
}
/* Page DIVS */
.welcome-page {
    height: 50%;
}

.work-container {
    height: 50%;
    background: linear-gradient(#f0f,#f00);
    width: 100%;
}

.contact-container {
    height: 50%;
    width: 100%;
    background: linear-gradient(#f00,#f0f);
}

.resume-container {
  height: 50%;
  width: 100%;
  background: linear-gradient(#f0f,#f00);
}

.about-me, .hello-world { 
  font-size: 3.5rem;
}

.info-about-me {
  font-size: 1.5rem;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 900px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color: cornsilk;
      
    }
  }


  @media screen and (max-width: 768px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color:ghostwhite;
      
    }
  }

  @media screen and (max-width: 640px) {
    .welcome-page, .work-container, .contact-me-container {
      background-color: blanchedalmond;
      
    }
  }



  /* Cards */

  .card {
    width: 20%;
    height: 450px;
    box-shadow: 20ps 20ox 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }

.contact-content-card {
  width: 500px;
}

